/*------------------------------
    Product Styles 
  ------------------------------*/
  .product {
    position: relative;
    overflow: hidden; }
  .shop-grid .product {
    margin-bottom: 15px;
  }
    .product .product__thumb {
      overflow: hidden;
      position: relative; }
      .product .product__thumb a {
        display: block; }
        .product .product__thumb a img {
          width: 100%; }
        .product .product__thumb a.second__img {
          left: 0;
          opacity: 0;
          position: absolute;
          top: 0;
          width:100%;
          height:100%;
          transition-property: all;
          transition-timing-function: linear; }
          .product .product__thumb a.second__img img {
            width: 100%; }
      .product .product__thumb .new__box {
        color: #fff;
        font-size: 10px;
        font-weight: 600;
        line-height: 23px;
        min-width: 82px;
        position: absolute;
        right: -40px;
        text-align: center;
        text-transform: uppercase;
        top: 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
        .product .product__thumb .new__box::before {
          border-bottom: 39px solid #2e2e2e;
          border-top: 0 none;
          content: "";
          left: 0;
          position: absolute;
          right: 0; }
        .product .product__thumb .new__box span {
          left: 0;
          position: absolute;
          right: 0;
          top: 13px; }
      .product .product__thumb .hot__box {
        background: #cb7a59 none repeat scroll 0 0;
        color: #fff;
        display: inline-block;
        font-size: 10px;
        font-weight: 600;
        left: 0;
        line-height: 15px;
        min-width: 55px;
        padding: 4px 10px;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        top: 0px;
        z-index: 3;
      }
        .product .product__thumb .hot__box.color--2 {
          background: #555555 none repeat scroll 0 0; }
          .product .product__thumb .hot__box.color--2::after {
            border-color: transparent transparent transparent #555555;}
        .product .product__thumb .hot__box.color--3 {
          background: #3cc8df none repeat scroll 0 0; }
          .product .product__thumb .hot__box.color--3::after {
            border-color: transparent #3cc8df transparent transparent;
            border-right: 6px solid #3cc8df; }
        .product .product__thumb .hot__box.color--4 {
          background: #da7187 none repeat scroll 0 0; }
          .product .product__thumb .hot__box.color--4::after {
            border-color: transparent #da7187 transparent transparent;
            border-right: 6px solid #da7187; }
      .product .product__thumb .hot__box::after {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        border-color: transparent transparent transparent #cb7a59;
        border-image: none;
        border-style: solid;
        border-width: 6px;
        content: "";
        margin-top: -6px;
        position: absolute;
        right: -11px;
        top: 50%;
      }
      .product .product__thumb .prize {
        background: #fff;
        box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.07);
        display: inline-block;
        font-family: "Lato",sans-serif;
        height: 35px;
        line-height: 35px;
        padding: 0 15px;
        position: absolute; }
        .product .product__thumb .prize li {
          color: #343940;
          font-size: 14px;
          font-weight: 700; }
          .product .product__thumb .prize li.old_prize {
            color: #959595;
            font-weight: 500;
            margin: 0 5px;
            text-decoration: line-through; }
        .product .product__thumb .prize.position__right__bottom {
          bottom: 11px;
          right: 11px; }
      .product .product__content .action {
        bottom: 30px;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        transform: translateY(-50%);
        visibility: hidden;
        z-index: 1;
        transition:.4s;
        margin-bottom:8px;
      }
      .product__hover--content {
        visibility: hidden;
        opacity:0;
      }
      .product:hover .product__content .action{opacity:1;visibility:visible;}
      .product:hover .product__hover--content{opacity:1;visibility:visible;display:block;}
        .product .product__content .action .actions_inner .add_to_links li {
          margin-bottom: 4px;
          display:inline-block
          }
          .product .product__content .action .actions_inner .add_to_links li a {
            border: 0 none;
            margin-right: 8px;
            border-radius: 100%;
            display: inline-block;
            font-size: 16px;
            font-weight: normal;
            height: 36px;
            line-height: 40px;
            padding: 0;
            position: relative;
            background:#f5f5f5;
            color:#333;
            text-align: center;
            width: 36px;
            transition: all 300ms ease-in 0s; }
            .product .product__content .action .actions_inner .add_to_links li a:hover {
              color:#fff;
                background-color: #ce7852; }
                .product:hover .product__content h4,.product:hover .product__content ul.prize {
                opacity:0;
                visibility:hidden;
                transition: all 0.2s ease 0s;
              }
              
              .product .product__content .action .actions_inner .add_to_links li a.quickview:hover {
                background-position: 100% 0;
                background-color: #e59285; }
          .product .product__content.action .actions_inner .add_to_links li:nth-child(1) {
            transition: opacity 300ms linear 0s;
            opacity: 0; }
          .product .product__content.action .actions_inner .add_to_links li:nth-child(2) {
            transition: opacity 500ms linear 0s;
            opacity: 0; }
          .product .product__content .action .actions_inner .add_to_links li:nth-child(3) {
            transition: opacity 700ms linear 0s;
            opacity: 0; }
          .product .product__content .action .actions_inner .add_to_links li:nth-child(4) {
            transition: opacity 900ms linear 0s;
            opacity: 0; }
    .product .product__content {
      background: #fff;
      padding: 20px 0;
      width: 100%; }
      .product .product__content h4 {
    color: #3a3939;
    font-size: 14px;
    line-height: 23px;
    opacity: 1;
    transition: all 0.4s ease 0s;
    visibility: visible;
  }
        .product .product__content h4 a {
          display: block;
          font-weight: 500;
          margin-bottom: 8px;
          overflow: hidden;
          text-overflow: ellipsis;
          text-transform: capitalize;
          white-space: nowrap; }
  .product:hover .product__content .action .actions_inner .add_to_links li:nth-child(1) {
    -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInUp;
            animation: 300ms ease-in-out 0s normal none 1 running fadeInUp;
    opacity: 1;
    transition: opacity 300ms linear 0s; }
  .product:hover .product__content .action .actions_inner .add_to_links li:nth-child(2) {
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInUp;
            animation: 500ms ease-in-out 0s normal none 1 running fadeInUp;
    opacity: 1;
    transition: opacity 500ms linear 0s; }
  .product:hover .product__content .action .actions_inner .add_to_links li:nth-child(3) {
    -webkit-animation: 700ms ease-in-out 0s normal none 1 running fadeInUp;
            animation: 700ms ease-in-out 0s normal none 1 running fadeInUp;
    opacity: 1;
    transition: opacity 700ms linear 0s; }
  .product:hover .product__content .action .actions_inner .add_to_links li:nth-child(4) {
    -webkit-animation: 900ms ease-in-out 0s normal none 1 running fadeInUp;
            animation: 900ms ease-in-out 0s normal none 1 running fadeInUp;
    opacity: 1;
    transition: opacity 900ms linear 0s; }
  .product:hover .product__thumb a.second__img {
    opacity: 1;
    visibility: visible;
    width: 100%; }
  .rating.rating--yellow li.on i {
    color: #ffa800; }
  .rating li i {
    color: #b6b6b6;
    margin-right: 8px;
  }
  .rating li.on i {
    color: #e59285; }
  .product__activation [class*="col-"] {
    max-width: 100%; }
  .productcategory__slide [class*="col-"] {
    max-width: 100%; }
  .product.product__style--3 .product__thumb {
    transition: all 0.3s ease-in-out 0s; }
    .product.product__style--3 .product__thumb .action .actions_inner .add_to_links li a.cart {
      background: #ebebeb url("/images/icons/cart2.png") no-repeat scroll 0 0; }
      .product.product__style--3 .product__thumb .action .actions_inner .add_to_links li a.cart:hover {
        background-color: #ce7852;
        background-position: 100% 0;
        transition: all 300ms ease-in 0s; }
    .product.product__style--3 .product__thumb .action .actions_inner .add_to_links li a.wishlist {
      background: #ebebeb url("/images/icons/wishlist2.png") no-repeat scroll 0 0; }
      .product.product__style--3 .product__thumb .action .actions_inner .add_to_links li a.wishlist:hover {
        background-color: #ce7852;
        background-position: 100% 0;
        transition: all 300ms ease-in 0s; }
    .product.product__style--3 .product__thumb .action .actions_inner .add_to_links li a.compare {
      background: #ebebeb url("/images/icons/compare2.png") no-repeat scroll 0 0; }
      .product.product__style--3 .product__thumb .action .actions_inner .add_to_links li a.compare:hover {
        background-color: #ce7852;
        background-position: 100% 0;
        transition: all 300ms ease-in 0s; }
    .product.product__style--3 .product__thumb .action .actions_inner .add_to_links li a.quickview {
      background: #ebebeb url("/images/icons/search2.png") no-repeat scroll 0 0; }
      .product.product__style--3 .product__thumb .action .actions_inner .add_to_links li a.quickview:hover {
        background-color: #ce7852;
        background-position: 100% 0;
        transition: all 300ms ease-in 0s; }
  .product.product__style--3 .product__content {
    background: transparent none repeat scroll 0 0;
    display: inline-block;
    padding: 20px 15px;
    text-align: left; }
    .product.product__style--3 .product__content h4 a {
      color: #333;
      display: block;
      font-size: 11px;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 10px;
      padding: 0;
      text-transform: capitalize; }
      .product.product__style--3 .product__content h4 a:hover {
        color: #ce7852; }
    .product.product__style--3 .product__content .prize {
      margin-top: 10px; }
      .product.product__style--3 .product__content .prize li {
        color: #ce7852;
        font-size: 14px;
        margin-right:15px;
        font-weight: 700; }
        .product.product__style--3 .product__content .prize li.old_prize {
          color: #7d7d7d;
          text-decoration: line-through; }
  .brown--color .rating li.on i {
    color: #ce7852; }
  .color--pink .product.product__style--3 .product__thumb .action .actions_inner .add_to_links li a.quickview:hover,
  .color--pink .product.product__style--3 .product__thumb .action .actions_inner .add_to_links li a.compare:hover,
  .color--pink .product.product__style--3 .product__thumb .action .actions_inner .add_to_links li a.wishlist:hover,
  .color--pink .product.product__style--3 .product__thumb .action .actions_inner .add_to_links li a.cart:hover {
    background-color: #da7187; }
  .color--pink .product.product__style--3 .product__content h4 a:hover {
    color: #da7187; }

    #express-buy-dialog {
      width: 300px;
      z-index: 100000;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      min-height: 200px;
      border: 1px solid #f5f4f3;
      padding: 5px 10px;
      background: #f5f4f3;
      -moz-box-shadow: 0 1px 5px #b1b3b3;
      -webkit-box-shadow: 0 1px 5px #b1b3b3;
      box-shadow: 0 1px 5px #b1b3b3
  }
  
  #express-buy-dialog .add-to-cart {
      background: #00bfa5
  }
  
  #express-buy-dialog .add-to-cart:hover {
      background: #f15c22
  }
  
  #express-buy-dialog .t-view {
      padding: 3px 0;
      font-weight: bold;
      font-size: 13px;
      padding: 0 2px
  }
  
  #express-buy-dialog .au-view {
      padding: 3px 2px
  }
  
  #express-buy-dialog .au-view a {
      color: #1d9d74
  }
  
  #express-buy-dialog .des-view a {
      color: #0066c0
  }
  
  #express-buy-dialog .p-view {
      padding: 3px 2px
  }
  
  #express-buy-dialog .p-view .real-price {
      font-size: 13px;
      color: #f15c22;
      font-weight: bold
  }
  
  #express-buy-dialog .p-view .real-price span.cur {
      font-size: 12px;
      font-weight: normal
  }
  
  #express-buy-dialog .p-view .price {
      color: #999;
      text-decoration: line-through;
      font-size: 10px
  }
  
  #express-buy-dialog .p-view .sale-off {
      color: #fff;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
      position: relative;
      line-height: 15px;
      text-transform: uppercase;
      font-size: 1.2rem;
      padding: 3px;
      background: #f51919;
      font-size: 10px
  }
  
  #express-buy-dialog .note-view {
      padding: 3px 0;
      font-weight: bold;
      font-size: 13px;
      color: #f15c22
  }
  
  #express-buy-dialog .discount-percent {
      padding: 3px 0
  }
  
  #express-buy-dialog .discount-percent label {
      font-weight: normal
  }
  
  #express-buy-dialog .discount-percent span {
      font-size: 13px;
      font-weight: bold;
      color: red
  }
  
  #express-buy-dialog .size-choose {
      padding: 5px 0 10px 0
  }
  
  #express-buy-dialog .size-choose span {
      float: left;
      font-weight: bold
  }
  
  #express-buy-dialog .size-choose .content {
      display: table
  }
  
  #express-buy-dialog .size-choose .content ul {
      list-style-type: none;
      float: left;
      padding-left: 5px
  }
  
  #express-buy-dialog .size-choose .content ul li {
      cursor: pointer;
      list-style-type: none;
      float: left
  }
  
  #express-buy-dialog .size-choose .content ul .bg-size {
      display: block;
      margin: 1px;
      height: 20px;
      border: 1px outset #f15c22
  }
  
  #express-buy-dialog .size-choose .content ul .bg-size .actived {
      background: #ff6100
  }
  
  #express-buy-dialog .size-choose .content ul .bg-size span {
      width: 100%;
      padding-left: 7px;
      padding-right: 7px
  }
  
  #express-buy-dialog .color-choose {
      padding: 5px 0 10px 0
  }
  
  #express-buy-dialog .color-choose span {
      float: left;
      font-weight: bold
  }
  
  #express-buy-dialog .color-choose ul {
      list-style-type: none;
      float: left;
      padding-left: 5px
  }
  
  #express-buy-dialog .color-choose ul li {
      cursor: pointer;
      list-style-type: none;
      float: left;
      padding-right: 7px
  }
  
  #express-buy-dialog .color-choose ul .bg-size {
      display: block
  }
  
  #express-buy-dialog .color-choose ul .bg-size .color-pattern {
      width: 20px;
      height: 20px
  }
  
  #express-buy-dialog .color-choose ul .bg-size .actived {
      border: 2px solid #f15c22
  }
  
  #express-buy-dialog .gift-view .l {
      float: left;
      width: 35px
  }
  
  #express-buy-dialog .gift-view .l .fa-gift {
      color: #f15c22
  }
  
  #express-buy-dialog .gift-view .r {
      float: left;
      width: 140px
  }
  
  #express-buy-dialog .btn {
      width: 100%;
      margin-bottom: 10px
  }
  
  #express-buy-dialog .btn-fav i.fa-heart {
      color: red
  }