.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login .login-form-wrapper {
    width: 35%;
    min-width: 350px;
    padding: 1.5em;
    padding-bottom: 2.5em;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login .login-form-wrapper .login-form {
    width: 100%;
}

.login .login-form-wrapper .login-form .ant-row.ant-form-item {
    display: flex;
    justify-content: center;
}

.login .login-form-wrapper .login-form .ant-row.ant-form-item .ant-form-item-label {
    width: auto;
}

@media screen and (max-width: 600px) {
    .login .login-form-wrapper .login-form .ant-row.ant-form-item {
        flex-direction: column;
    }
}